name: Deploy via ftp

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Preparar pasta dist
        run: |
          rm -rf dist/*
          mkdir -p dist/encontro-mandato
          cp -R index.html css img beckend dist/encontro-mandato/

      - name: FTP Deploy Locaweb
        uses: locaweb/ftp-deploy@1.0.0
        with:
          host: ${{ secrets.FTP_HOST }}
          user: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          localDir: "dist"
